{% extends 'baseAdmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #site {
            margin-top: 25px;
        }
    </style>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <section class="text-centered">
          <h1>Comandas</h1>
        </section>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      {% if (notes != null) and (notes|length > 0) %}
        <div class="navigation text-center">
          {{ knp_pagination_render(notes) }}
        </div>
        <table class="table table-responsive">
          <thead>
            <tr>
                <th>ID</th>
                <th>Mesero</th>
                <th>No. Comanda</th>
                <th>Fecha y Hora</th>
                <th></th>
                <th>Cancelar</th>
            </tr>
          </thead>
          <tbody>
          {% for note in notes %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>

                <td>{{ note.userId }}</td>
                <td>{{ note.fullname }}</td>
                <td>{{ note.numberNote }}</td>
                <td>{{ note.checkin|date('Y-m-d H:i:s') }}</td>
                <td>
                  <table class="table table-responsive">
                    <thead>
                      <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                      </tr>
                      {% for product in note.products %}
                      <tr>
                        <td>{{ product.product }}</td>
                        <td>{{ product.amount }}</td>
                      </tr>
                      {% endfor %}
                  </table>
                </td>
                <td>
                  <a class="btn btn-danger btn-lg" href="{{ path('cancel_note', { 'userId': note.userId, 'folioNumber': note.numberNote }) }}">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </a>
                </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <div class="navigation text-center">
          {{ knp_pagination_render(notes) }}
        </div>
      {% else %}
        <h3>Actualmente no existen comandas registradas.</h3>
      {% endif %}
    </div>
  </div>
{% endblock %}