{% trans_default_domain 'FOSUserBundle' %}


{% if error %}
<div class="columns is-mobile is-centered">
  <div class="column is-4 is-centered">
    <article class="message is-danger">
      <div class="message-header">
        <p><strong>¡Error!</strong></p>
      </div>
      <div class="message-body">
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      </div>
    </article>
  </div>
</div>
{% endif %}

<div class="columns is-mobile is-centered">
    <div class="tile is-parent is-5 has-text-centered">
        <article class="tile is-child box">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input class="help" type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                <img src="{{ asset('img/REPUBLIK.png') }}" alt="logo-republik">
                <div class="field">
                    <label class="label" for="username">{{ 'security.login.username'|trans }}</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                        <span class="icon is-small is-left">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="password">{{ 'security.login.password'|trans }}</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="password" id="password" name="_password" required="required" />
                        <span class="icon is-small is-left">
                            <i class="fa fa-key"></i>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                        </label>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="button is-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                    </div>
                </div>
            </form>
        </article>
    </div>
</div>

